<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <!--  <h1>Commandes</h1> -->
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/admin/accueil/dashboard">Accueil</a></li>
                        <li class="breadcrumb-item active">Commandes</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-3">
                    <h4 class="page-title">List of Commandes</h4>
                </div>

                <div class="col-sm-4 col-3">
                    <input type="text" class="form-control" type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" />
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Numéro</th>
                                    <th>Client</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="
                        let comDTO of commandeDTOList
                            | filter: searchText
                            | paginate: { itemsPerPage: 20, currentPage: p }
                        ">


                                    <td>{{ comDTO?.numeroCommande }}</td>
                                    <td>
                                        {{ comDTO?.clientDto.firstName }} {{ comDTO?.clientDto.lastName }}
                                    </td>
                                    <td>{{ comDTO?.totalCommande }}</td>
                                    <td>{{ comDTO?.status }}</td>
                                    <td>{{ comDTO?.dateCommande | date: "dd-MM-yyyy" }}</td>

                                    <td class="text-right">
                                        <button class="btn btn-warning btn-sm" (click)="viewCommande(comDTO)">
                                    <i class="fa fa-eye" aria-hidden="true"></i></button
                                  >&nbsp;
              
                                  <button
                                    class="btn btn-danger btn-sm"
                                    (click)="onDeleteCommande(comDTO.id)"
                                  >
                                    <i class="fa fa-trash" aria-hidden="true"></i></button
                                  >&nbsp;
                    </tr>
                  </tbody>
                </table>
                <div class="pagination">
                  <pagination-controls (pageChange)="p=$event"></pagination-controls>
                </div>
              </div>
            </div>
          </div>

  </div>
</section>
</div>

<!--  -->