<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Graphiques</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/admin/accueil/dashboard">Accueil</a></li>
                        <li class="breadcrumb-item active">Graphiques</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="card">
                        <div class="card-body" style="height: 605px;">
                            <div class="chart-title">
                                <h4>Chiffre Affaire Commande/Mois</h4>
                                <span class="float-right">
                                    </span>
                            </div>

                            <app-chiff-aff-order-peer-month></app-chiff-aff-order-peer-month>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="card">
                        <div class="card-body" style="height: 605px;">
                            <div class="chart-title">
                                <h4>Chiffre Affaire Commande/Mois</h4>

                            </div>

                            <app-chiff-aff-order-peer-year></app-chiff-aff-order-peer-year>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>


<!--  -->